.contact-page {
  font-size: 2rem;
  height: 100vh;

  .contact-box {
    width: 60vw;
    padding: 10px;
    margin-right: 20px;
    filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.3));
  }

  .feedback-box:clicked {
    border: none;
  }

  .contact-btn {
    color: #ff91af;
    border: none;
    background-color: #6f0434;
    padding: 0.5vw;
    cursor: pointer;
    filter: drop-shadow(0 0.1rem 0.1rem rgba(0, 0, 0, 0.3));
  }
}
