* {
  box-sizing: border-box;
  color: #ff91af;
}

body {
  background-color: #3b0005;
  margin: auto;
  overflow-x: hidden;
}

.navbar {
  background-color: #1a0001;
  color: #ff91af;
}

.nav {
  color: #ff91af;
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 11rem;
  padding: 1 11rem;
}

.site-title {
  text-shadow: 2px 2px 8px rgb(51 50 95 / 40%);
  font-size: 1.43rem;
  color: #ff91af;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #ff91af;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: #a74262;
}

.nav li:hover {
  background-color: #c45c7b;
  color: #1a0001;
}

.login {
  background-color: #1a0001;
}

.login-input {
  display: flex;
  background-color: #1a0001;
}

.footer {
  position: absolute;
  width: 100%;
  min-height: 1.43rem;
  align-items: flex-end;
  flex-grow: 0;
  justify-content: center;
  display: flex;
  background-color: #1a0001;
  color: #ff91af;
}
